/* hide form label */
.form-input label {
	position: absolute;
	left: -99999px;
}

/* class used by JS to hide form elements */
header .logo .img {
  display: none;
}

* {
  font-family: 'Karla', sans-serif;
}

h1 {
  text-decoration: underline;
}


header {
  padding: 7rem 0;
  width: 100%;
  background-color: #C4DBE0;
  text-align: top;
  padding-align: 2rem;
  display: grid;
  grid-template-columns: .5fr auto minmax(600px, 3fr) .2fr;
   clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0 100%);
}

.one{
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  padding-left: 3rem;

}

.column-right {
  padding-left: 3rem;
  }

.column-left {
  padding-left: 3rem;

}


.two{
  padding: 30vh 0;
  padding-left: 3rem;
  background-color: #C4DBE0;
  clip-path: polygon(0% 25%, 100% 0%, 100% 75%, 0 100%);

}

.two h2 {
  color: #3CACAE;
}


.slanted-container {
  padding: 8rem 2rem;
  background-color: #C4DBE0;
  grid-template-columns: 2fr, 2fr;
  clip-path: polygon(0% 25%, 100% 0%, 100% 75%, 0 100%);
}
.slanted-container p{
  font-size: 1.5rem;
}


.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #fff;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before{
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7.2px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  
}

nav li {
  font-weight: 300;
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #3CACAE;
}

/*tilda is looking for *any* preceeding sibling of nav toggle*/
.nav-toggle:checked ~ nav {
  display: block;
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}


@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }
  

  
  .logo {
    grid-column: 2 / span 1;
  }
  
  nav {
    /* unset is taking off all mobile styles */
    all: unset;
    grid-column: 3/4; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 3px;
    background: #fff;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0,1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
    background: #3CACAE;
  }
}

.benefits {
  color: #3CACAE;
}

 

.faq ul {
  margin: 0;
  padding: 5rem;
  list-style: none;
  grid-gap: 2rem;
  align-items: center;
  text-align: center;
  }

h1{
  color: #fff;
  text-align: center;
}

p{
  color: #fff;
  text-align: center;
}


form {
	background-color: #3CACAE;
	padding: 50px 0;
  text-align: center;
}


form input {
  border: 0;
  background-color: #fff;
  width: 50%;
  padding: 1rem;
  color: #7a7a7a;
  border-radius: .25rem;
  margin-bottom: 1rem;
  place-items: center;
}

form input:focus {
  color: #212121;
  outline: 1px solid #bcbcbc;
  place-items: center;
  text-align: center;
}

form button {
  border: 0;
  background-color: #C4DBE0;
  color: #3CACAE;
  padding: .875rem .875rem .75rem;
  border-radius: .25rem;
  text-align: center;
}

.accordion ul {
  margin: 0;
  padding: 5rem;
  list-style: none;
  grid-gap: 2rem;
  align-items: center;
  text-align: center;
}



a {
  color: #3CACAE;
  text-decoration: none;
  font-size: 2rem;
  display: block;
  align-items: center;
}

button:hover{
  transform: scale(1.5);
  padding: 1rem;
}






/* hide form label */
.form-input label {
  position: absolute;
  left: -99999px;
}

}

.copyright-text p {
  color:  #3CACAE;
}

.site-footer p {
   color:  #3CACAE;
   text-align: center;
} 


.card-image {
  display: block;
  min-height: 20rem; /* layout hack */
  background: #fff center center no-repeat;
  background-size: cover;
  filter: blur(3px); /* blur the lowres image */
}

.card-image > img {
  display: block;
  width: 100%;
  opacity: 0; /* visually hide the img element */
}

.card-image.is-loaded {
  filter: none; /* remove the blur on fullres image */
  transition: filter 1s;
}




/* Layout Styles */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 16px;
}

.card-list {
  display: block;
  margin: 1rem auto;
  padding: 0;
  font-size: 0;
  text-align: center;
  list-style: none;
}

.card {
  display: inline-block;
  width: 90%;
  max-width: 20rem;
  margin: 1rem;
  font-size: 1rem;
  overflow: hidden;
  
}



.card-description {
  display: block;
  padding: 1em 0.5em;
  color: #515151;
  
}

.card-description > h2 {
  margin: 0 0 0.5em;
}

.card-description > p {
  margin: 0;
}




main {
  color: #3CACAE;
  padding: 3rem;
  line-height: 1.4;
  background-color: #C4DBE0;
  text-align: left;

}


main ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 5rem;
  grid-gap: 2rem;
  align-items: center;
  text-align: center;
}

main ul h4 {
  padding-top: 1rem;
  border-top: 1px solid  #3CACAE;
  color: #3CACAE;
  text-align: left;
}

main ul h4:hover {
  cursor: pointer;
  color: #212121;
}

main ul p {
  color: #3CACAE;
  text-align: left;
}



.accordion-content {
  max-height: 0;
  overflow: hidden;
  text-align: left;
}

.accordion-content p {
  margin-bottom: 0;
}

.accordion-content p:first-child {
  margin-top: 0;
}

.more {
  max-height: 100rem; // just a high number
}

.three {
 padding: 20vh 0;
}


.CSSgal {
  position: relative;
  overflow: hidden;
  height: 100%; /* Or set a fixed height */
}

/* SLIDER */

.CSSgal .slider {
  height: 100%;
  white-space: nowrap;
  font-size: 0;
  transition: 0.8s;
}

/* SLIDES */

.CSSgal .slider > * {
  font-size: 1rem;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  height: 100%;
  width: 100%;
  background: none 50% no-repeat;
  background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 100%;
  height: 0;
}

.CSSgal .prevNext > div+div {
  visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
  background: #fff;
  position: absolute;
  width:       60px;
  height:      60px;
  line-height: 60px; /* If you want to place numbers */
  text-align: center;
  opacity: 0.7;
  -webkit-transition: 0.3s;
          transition: 0.3s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}
.CSSgal .prevNext a:hover {
  opacity: 1;
}
.CSSgal .prevNext a+a {
  left: auto;
  right: 0;
}

/* NAVIGATION */

.CSSgal .bullets {
  position: absolute;
  z-index: 2;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}
.CSSgal .bullets > a {
  display: inline-block;
  width:       30px;
  height:      30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.CSSgal .bullets > a+a {
  background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.CSSgal .bullets > a:hover {
  background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
/* More slides? Add here more rules */


/* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */

.CSSgal{
  color: #fff;  
  text-align: center;
}
.CSSgal .slider h2 {
  margin-top: 40vh;
  font-weight: 200;
  letter-spacing: -0.06em;
  word-spacing: 0.2em;
  font-size: 3em;
}
.CSSgal a {
  border-radius: 50%;
  margin: 0 3px;
  color: rgba(0,0,0,0.8);
  text-decoration: none;
}






 ul{
  margin: 0;
  padding: 5rem;
  list-style: none;
  list-style-type: none;
  grid-gap: 2rem;
  align-items: center;
  text-align: center;
  
}

.fb {
    animation-delay: 1s;
     align-items: center;
}
.in {
    animation-delay: 2s;
     align-items: center;
}
.linkedin {
    animation-delay: 3s;
    align-items: center;
}

a:hover{
    transform: scale(1.5) rotate(15deg);
}
